body {
 margin: 0;
}

canvas {
  border: solid 1px #DDD;
}

div.container {
    @include outer-container;
}
br {
  clear: both;
}
hr {
  border: none;
}
.average {
  width: 400px;
  height: 200px;
  background-color: #FF5500;
  color: white;
  padding: 10px;
  font-size: 9em;
  text-align: center;
  border: 10px #DE4604 solid;
  display: inline-block;
}

.average-area {
  text-align: center;
  width: 100%;
}

.opinion-button {
  background-color: #0F8AD6;
  color: white;
  text-decoration: none;
  padding: 20px;
  width: 100px;
  height: 60px;
  display: inline-block;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.your-opinion-controls {
  input {
    width: 100%;
  }
}

.top-bar
{
  height: 100px;
  padding: 10px;
  background-color: black;
  color: white;

  .login-controls {
    float: right;
  }

  .title {
    float: left;
    a{
      text-decoration: none;
      color: white;
    }

  }
}

.gauge_container
{
  width: 400px; 
  height: 320px; 
  display: inline-block;
}
