%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem risus, gravida sed dapibus sit amet, mollis vitae diam. Mauris nec elit magna. Suspendisse gravida dolor ut egestas iaculis. Nulla et leo sit amet nunc scelerisque ullamcorper. Nulla ante justo, consectetur sit amet eleifend at, tempus ut mauris. Vivamus at erat in tellus interdum auctor sit amet et purus. Donec lacinia vel est sagittis lobortis. In dapibus elementum dui vitae sagittis. Integer sed mi bibendum, facilisis diam lacinia, fermentum diam. Suspendisse accumsan libero sit amet erat semper, et vulputate tellus molestie. Nulla posuere condimentum blandit.

%table
  %thead
    %tr
      %th Name
      %th Average

    -@wiggles.each do |wiggle|
      %tr
        %td= link_to wiggle.name, wiggle
        %td= wiggle.average_opinion