%h1 Be Opinionated

%p Some kind of tagline that we'll think of later.

%table
  %thead
    %tr
      %th Name
      %th Average

    -@wiggles.each do |wiggle|
      %tr
        %td= link_to wiggle.name, wiggle
        %td= wiggle.average_opinion
