%h1 Be Opinionated

%p Some kind of tagline that we'll think of later.

%h3 Current Wiggles
= render partial: "wiggle_table", locals: {wiggles: @current_wiggles, current: true }

%h3 Upcoming Wiggles
= render partial: "wiggle_table", locals: {wiggles: @upcoming_wiggles, current: false }

= content_for :page_specific_js do 
  -(@current_wiggles + @upcoming_wiggles).each do |wiggle|
    = subscribe_to wiggle.channel 

  :coffeescript    
    $ ->
      new HomePageReady()
