<div class = "your-opinion-controls">
    <hr style = "border: none;" />
    <div style = "text-align: center">
      <a href = "#" class = "opinion-button opinion-down">DOWN!</a>
      <a href = "#" class = "opinion-button opinion-up">UP!</a>
    </div>

    <p><strong>Your opinion:</strong> <span data-bind="text: yourOpinion"></span><p>
    <%= range_field_tag :your_opinion, @opinion.value, :in => (0..100), :step => 1, :data => {:bind => "value: yourOpinion"} %>
</div>

