<%= viewbag   :initial_average  => @wiggle.average_opinion,
              :initial_opinion  => @your_opinion.value,
              :polling_url      => average_wiggle_url(@wiggle),
              :update_url       => url_for(@your_opinion)
%>

<%= content_tag :h1, @wiggle.name %>

<div class = "average-area">
  <div class = "average">
    <span data-bind="text: average"></span>
  </div>
  
  <br />
  <br />
  <br />

  <a href = "#" class = "opinion-button opinion-down">DOWN!</a>
  <a href = "#" class = "opinion-button opinion-up">UP!</a>

</div>

<div class = "your-opinion-controls">
  <p><strong>Your opinion:</strong> <span data-bind="text: yourOpinion"></span><p>
  <%= range_field_tag :your_opinion, @your_opinion.value, :in => (0..10), :step => 0.1, :data => {:bind => "value: yourOpinion"} %>
</div>
